#sep_box
#header_border
  #header
    #logo_border
      h1#logo
        a(href="/")
    #prehide
      nav#link
        h2.none 网站导航
        ul
          li#header_home.active
            a(href="/") 首页
          li#header_pro.normal
            a(href="/project") 项目
          li#header_teache.normal
            a(href='/teaching_task') 教学任务
      #remind_search
        p#header_remindword
          | 您好，
          a(href="###") #{username}
        #header_remindicon
        #header_searchicon
