//头部搜索框
#header_searchbox
  .shadowbox
    input(type="text" id="box" class="" placeholder="请输入搜索内容")
    input(type="button" id="btn" class="")

//头部私信列表1
div#header_remindlist1
  div.shadowbox
    div#top1
      div#top_pro1 
      div#top_cont1 
    div#message1 
      p 您的任务: <span>XXXX</span>离截止日期还有<span>2</span>天。
      p 您的项目: <span>XXXX</span>发布了新任务: <span>XXXXXXXXXXX</span>。
    div#bottom1
      div#setting1 
      p 查看全部
      div#a1 
//头部私信列表2
div#header_remindlist2
  div.shadowbox
    div#top2
      div#top_pro2
      div#top_cont2
    div#message2 
      p 您还没有收到好友的消息。
    div#bottom2
      div#setting2 
      p 查看全部
      div#a2