<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>index</title>
<link rel="stylesheet" type="text/css" href="styles/index.css">
</head>

<body>
<header id="header">
	<div class="center">
		<h1 class="logo"></h1>         
		<nav  class="link">
			<h2 class="none">网站导航</h2>
			<ul>
				<li class="active"><a href="###">首页</a></li>
				<li><a href="###">项目</a></li>
				<li><a href="###">任务</a></li>
				<li><a href="###">搜索</a></li>
				<li><a href="###">教学任务</a></li>
			</ul>		
		</nav>	
	</div>
	<div class="remind">
		<p>您好，<a href="###">黄少天</a></p>
		<div><a href="###"><img src="images/展板/通知（有通知时）.png" alt="remind pic" /></a></div>
	</div>
</header>



<div id="title">
	<p class="word">软件工程教学服务系统</p>
	<div class="circle">2016.2.20-2016.4.30</div>
	<div class="sprint">Sprint 4 ,Day 3</div>
	<div class="project1"><a href="###"><img src="images/展板/项目链接1.png" alt="project link"></a></div>
	<div class="project2"><a href="###"><img src="images/展板/项目链接2.png" alt="project link"></a></div>
</div>



<div id="mainbody">
	<div id="scrum">
		<ul id="requirement">
			<li class="board">
				<div>
					<p class="title">用户需求</p>
					<p class="content">TEST</p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
			<li class="board">
				<div>
					<p class="title"></p>
					<p class="content"></p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
		</ul>
		<ul id="backlog">
			<li class="board">
				<div>
					<p class="title">待办任务</p>
					<p class="content">TEST</p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
			<li class="board">
				<div>
					<p class="title"></p>
					<p class="content"></p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
		</ul>
		<ul id="task">
			<li class="board">
				<div>
					<p class="title">进行中</p>
					<p class="content">NAME TEST</p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
			<li class="board">
				<div>
					<p class="title"></p>
					<p class="content"></p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
		</ul>
		<ul id="task">
			<li class="board">
				<div>
					<p class="title">已完成</p>
					<p class="content">NAME TEST</p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
			<li class="board">
				<div>
					<p class="title"></p>
					<p class="content"></p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
		</ul>
		<ul id="check">
			<li class="board">
				<div>
					<p class="title">已查验</p>
					<p class="content">NAME TEST</p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
			<li class="board">
				<div>
					<p class="title"></p>
					<p class="content"></p>
				</div>
			</li>
			<li class="none addbutton"><img src="images/展板/添加.png" alt="添加"/></li>
		</ul>
	</div>


	<div id="contact"><img src="images/展板/联系人.png" alt="Contacts" id="contactButton"/></div>
</div>


<div id="footer">footer</div>
<script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>


