@charset "utf-8";

*{
	margin:0px;
	padding:0px;
}
body{
	background:url(../images/登录注册.jpg) center no-repeat grey;
	background-size:contain;
}
div{
	background:url(../images/注册1bg.png) no-repeat;
	background-size:contain;
	width:400px;
	height:240px; 
	margin:200px auto;
}
form{
	margin:30px auto;
}
#yx{
	margin:20px 80px 10px;
	width:220px;
	height:30px;
	border-radius:4px;
	float:left;
}
#xm{
	margin:5px 16px 10px 80px;
	width:60px;
	height:30px;
	border-radius:4px;
}
#xh{
	/* margin:5px 80px 10px; */
	width:130px;
	height:30px;
	border-radius:4px;	
}
#zc2{
	margin:-15px 100px 10px 20px;
	width:100px;
	height:30px;
	background:orange;
	border-radius:4px;	
	float:right;
}
#dl2{
	margin:10px 78px 10px;
	width:100px;
	height:30px;
	background:orange;
	border-radius:4px;
}
span{
	margin:auto 80px;
	color:white;
}
#ques{
	margin:auto 10px auto 80px;
	color:black;
}
#item1{
	margin:auto 0px 10px 80px;
	color:black;
}
#item2{
	margin:auto 0px auto 10px;
	color:black;
}











